body {
  margin: 0px auto;
  padding: 0px;
  background-color: white;
  font-family: Verdana, sans-serif;
  background-color: white;
}

ul#menu { display: none; }

h1 {
  padding: 10px;
  color: #990000;
  background-color: #FFFFFF;
  font-size: 1.50em;
  font-family: "Gill Sans", "Lucida Sans Unicode", sans-serif;
  font-weight: bold;
  text-align: center;
}

#content {
  margin: 5px;
  padding: 5px;
  background-color: white;
}

.section {
  background-color: white;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
}
.section h2, .section p {
  display: none;
}
.section p, .section li, .section ul {
  max-width: 40em;
  margin: 1em;
  padding: 0px;
}
.section ul{
  margin: 0px 0px 0px 2em;
}
.section li {
  position: relative;
  left: 1em;
  margin: 0px;
  padding: 0px;
}

h2 {
  margin: 0px;
  padding: 0.2em 0.2em 0.2em 1.5em;
  border-bottom: 5px solid #7899BB;
  color: #FFFFFF;
  background-color: #515151;
  font-size: 1em;
  font-weight: bold;
}

h3 {
  margin: 0px;
  padding: 0.2em 0.2em 0.2em 1.5em;
  color: #990000;
  font-size: 0.9em;
  font-weight: bold;
}

.post_date {
	color: #990000;
	font-size: .8em;
}

#footer {
  clear: both;
  margin: 20px 10px 10px;
  text-align: center;
  color: #990000;
  font-size: 0.7em;
}

#sponsors {
  width: 90%;
  margin: 14px auto 10px;
  padding: 10px 0px;
  background-color: #ffffff;
  text-align:center;
  font-size: 90%;
}

#sponsors div {
  margin: 0px;
  padding: 0px 10px;
}

#sponsors p {
  margin: auto;
  padding: 5px;
  color: #515151;
  font-size: 0.9em;
  font-weight: bold;
}

#sponsors .sponsor {
  text-align: center;
  margin: 10px;
  padding: 0px 0px 1em;
}

.sponsor img {
  display: inline;
  border: 1px solid white;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 8px auto 13px;
  border: 2px ridge white;
  background-color: #3BA8E;
}

table td, table th {
  border-bottom: 1px solid #CCCCCC;
}

table tbody {
  font-family: Courier, monospace;
  font-size: 0.9em;
}

table tbody td {
  margin: 0px;
  padding: 0.2em 0.8em;
  white-space: nowrap;
}

table tbody tr.odd {
  background-color: #FFFFFF;
}

table tbody tr.even {
  background-color: #EEEEEE;
}

table thead th {
  color: #FFFFFF;
  background-color: #515151;
  padding: 0.2em 0.8em;
  font-size: 0.85em;
  text-align: center;
}

td.time, td.duration {
  text-align: center;
}

td.speaker {
  width: 15em;
}
