<div id="content">
<!--
  <div class="section">
  	<h2>Register for Our Training Day</h2>
  	
    <p>
Don't forget the full day of hands on training to the RubyNation agenda: <em>Real World Ruby on Rails Deployments</em>. You'll learn best practices from the trenches of live and fielded Rails apps and publish a real website from scratch.
    </p>

    <p>
Who should attend? Anyone who is or will be responsble for deploying Rails apps. A full day of instruction is only $125 with the purchase of a conference ticket. Conference attendees can enter RUBYFAN at checkout for the discounted rate.
    </p>

    <p>
More details and registration links are here: 
<%= link_to "Training Day", "http://www.codesherpas.com/training" %>.
    </p>

    <p>
Seating is extremely limited, so register today!
</p>


  </div>
-->
  <div class="section">
  	<h1>Register Today &mdash; Join the RubyNation!</h1>  	

    <p>
    The RubyNation Ruby and Rails conference is back, bigger and better than ever for 2010! 
    We look forward to seeing you there.
    The past two RubyNation conferences have sold out, so register early 
    (and it costs less if you do so).
    All you have to do to take part is register and show up for the fun. 
    Check out the link for up-to-date registration information.
    </p>

    <p>
<%= link_to "Registration and price information is available by clicking here", "http://rubynation2010.eventbrite.com/" %>.
</p>

<!--
    <p>
This year's RubyNation conference will feature many luminaries in the Ruby and Rails community, including presentations from Chad Fowler, Hal Fulton, Yehuda Katz, Russ Olsen, David A. Black, Ben Scofield, Aaron Bedra, Bruce Tate, and many others.
</p>
-->

<p>
The conference ticket will include:

<ul>
<li>
Admission to all conference sessions
</li>
<li>
Admission to the Friday Night Beer and BBQ Bash<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;&mdash; Sponsored by <a href="http://www.metrostarsystems.com">MetroStar Systems</a>
</li>
<li>
An official RubyNation conference t-shirt
</li>
<li>
Continental breakfast, lunch, and afternoon snacks, etc.
</li>
<li>
Event giveaways (we have lots of books and t-shirts to give out!)
</li>
<li>
Various swag and a conference program
</li>
</ul>
</p>

<!--
    <h2>Sold Out!</h2>
    <p>
      RubyNation 2008 is sold out.
      However, there is still hope, our sponsor EngineYard is planning to 
      give away two tickets through their blog.
      Take a look at their web site (click on their icon to the right).  
      Perhaps you can still get a ticket that way.
    </p>
-->

  </div>

<!--
  <div class="section">
    <%= render :partial => 'layouts/registration' %>
  </div>
 -->

</div>
