<div id="content">

  <div class="section">
    <h1>Our Community</h1>

    <p>The Washington DC metropolitan area has one of the largest and most
        active Ruby communities in the United States. This conference is
		put on by unpaid volunteers from the community to promote the
		growth of technologies like Ruby, Rails and countless others.</p>

  </div>

  <div class="section">
    <h2>Twitter Updates</h2>

    <p>Tired of checking RubyNation for updates? Check out 
	<a href="http://twitter.com/rubynation">RubyNation's Twitter account</a>.
    We post all the big news there.
    </p>

  </div>

  <div class="section">
    <h2>RubyNation Organizers</h2>

    <p>
        The RubyNation Conference is staffed by
        volunteers from this extensive Ruby community, drawn primarily from the
        membership of the Northern Virginia Ruby Users Group (<a
        href="http://www.novarug.org">NovaRUG</a>).</p>

    <h3>Our Volunteers</h3>

    <p>Our organizers are unpaid volunteers who have selflessly devoted a
        significant amount of their time and effort to make this high-quality
        regional conference a reality.</p>

    <ul class="people">
      <li><strong>Don Anderson</strong> - A software engineer, multi-media
          designer and 3D animator who is currently the lead Flash architect
          for Grab Networks. Don has over 17 years of experience using 
          computers to create art and has developed projects using a wide
          range of platforms and languages. His current home online is 
          <a href="http://www.gone3d.com">www.gone3d.com</a>. He created
          the 2009 and 2010 graphics for Rubynation.</li>

      <li><strong>David Bock</strong> - A Principal Consultant at <a
          href="http://www.codesherpas.com">CodeSherpas</a>, a consultancy
          specializing in Java and Ruby software development. Mr. Bock is also
          the President of the Northern Virginia Java Users Group, the Editor of
          O'Reilly's <a href="http://www.onjava.com">OnJava.com</a> web site,
          and a frequent speaker on technology in venues such as the
          <em>No Fluff, Just Stuff</em> Software Symposiums.</li>
    
      <li><strong>Luc Castera</strong> - Luc is currently the lead-developer
          behind ShareMeme.com and has held positions at Verizon, GE, and
          Delphi Electronics. He has used many different languages and platforms
          such as Java, Tcl/Tk, C, Ruby, and C#/.NET throughout his career. 
          He discovered Ruby two years ago and has been a big fan ever since.
          Luc received his B.S. in Electrical Engineering at the University of
          Virginia before attending Georgia Tech to obtain his Masters degree in
          the same field. Born and raised in Port-au-Prince, Haiti, he now lives
          in the DC Metropolitan area.</li>

      <li><strong>Navjeet Chabbewal</strong> - A software engineer with
          extensive experience in Java/J2EE, Ruby and Rails and open source
          tools.  Navjeet is a member of the NovaRUG and NovaJUG user
          groups.</li>

      <li><strong>Carl Fyffe</strong> - Carl is a software engineer at
          <a href="http://sms-fed.com">SMSi</a>. His primary focus is on
          web-based applications with experience in PHP, Java and, of course,
          Ruby. He has taught courses in Java and J2EE. When he isn't writing
          web applications for fun, you can find him watching a movie or
          playing a video game.</li>

      <li><strong>Karen Gillison</strong> - A co-founder of <a
          href="http://www.codesherpas.com">CodeSherpas</a>, a consultancy
          specializing in Java and Ruby software development. Karen is a member
          of the RubyNation Steering Committee.</li>
    
      <li><strong>Gray Herter</strong> - A software engineer at 
          <a href="http://www.nearinfinity.com/">Near Infinity</a> developing 
          software with Ruby and Java.
          Gray runs the <a href="http://www.novajug.org">NovaJUG</a> and 
          <a href="http://www.novarug.org">NovaRUG</a> user groups, 
          and is the founder and president of the RubyNation confernece. 
          Gray also teaches <a
          href="http://www.nvcc.edu/wdce/loudoun/courses/classinfo.asp?ID=ITEC+1625">Ruby</a>
          and <a
          href="http://www.nvcc.edu/wdce/loudoun/courses/classinfo.asp?ID=ITEC+1626">Rails</a>
          classes regularly.

      <li><strong>David Keener</strong> - A systems architect for <a
          href="http://www.metrostarsystems.com">MetroStar Systems</a>, a
          fast-growing consulting firm providing services to government
          agencies and non-profits organizations.  Dave has over 23
          years of experience, specializing in Ruby, Rails, Java and social
          media. He is a frequent public speaker, and is involved in the
          NovaRUG, NovaJUG and DCRUG user groups. David is a member of the
          RubyNation Steering Committee. His RubyNation responsibilities also
          include video production this year, for both the videotaping
          of conference sessions and the production of a television documentary
          about the conference. He also blogs regularly on Internet-related
          subjects at
          <a href="http://www.keenertech.com">KeenerTech.com</a>.</li>
    
      <li><strong>Russ Olsen</strong> - A software engineer, trainer and public
          speaker with a background in Java, Ruby and Rails. He is the author of
          <em>Design Patterns in Ruby.</em> Russ is a member of the RubyNation
          Steering Committee.</li>
    
      <li><strong>Arild Shirazi</strong> - A software engineer with a background
          in Java EE and Rails, and former protein biochemist. He is responsible
          for the design of the RubyNation web site, and is a member and host of
          the NovaRUG, NovaJUG and MacDev user groups.</li>

    </ul>
		
	<h3>Video Production Volunteers</h3>
	
	<p>RubyNation 2010 conference sessions are going to be videotaped (where individual speakers
	have granted permission), thanks to the training,
	assistance, advice and equipment provided by <a href="http://www.arlingtonmedia.org">Arlington 
	Independent Media</a>, as well as the assistance of numerous volunteers. This effort is being
	headed up by David Keener, who will also be producing a documentary about the conference to
	be shown on public television.
	</p>
	
	<ul class="people">
    <li>
      <strong>Rashid Abdulghani</strong>, Studio Team &mdash Technical Director<br />
	  <strong>Beth Adelson</strong>, Studio Team &mdash Camera<br />
	  <strong>Don Anderson</strong>, Director, Editor, Graphical Effects<br />
	  <strong>Bruce Godwin</strong>, Studio Team &mdash Audio<br />
	  <strong>David Keene</strong>, Producer, Writer, Announcer, Assistant Editor<br />
	  <strong>Brian Long</strong>, Advisor<br />
	  <strong>Sarah Jean Olimb</strong>, Studio Team &mdash Camera<br />
	  <strong>Carol Sheffield</strong>, Studio Team &mdash Camera<br />
	  <strong>Ricardo Villollu</strong>, Studio Team &mdash Director<br />
	  <strong>Derk Yale</strong>, Assistant Director
	</ul>
  
    <h3>Contributors</h3>
  
    <ul class="people">
      <li><strong>Chad Fowler</strong> - A well-known writer, consultant,
          trainer and speaker in the Ruby community.  He is the author of
          <em>Rails Recipes</em>, an influential and widely read technical book.
          He is also a well-known conference organizer; his <a
          href="http://www.chadfowler.com/2007/3/26/how-to-run-a-small-conference">blog
          entry</a> on conference organization was a major influence on the
          formation of the RubyNation Conference.</li>
      
      <li><strong>Jim Freeze</strong> - The Chief Organizer of the <a
          href="http://www.lonestarrubyconf.com/">Lone Star Ruby Conference</a>,
          an annual regional conference held in Austin, Texas. Jim Freeze
          generously donated his time in 2008 to advise the RubyNation Steering
          Committee on the many issues involved in organizing and running a
          quality conference.</li>

      <li><strong>Rich Kilmer</strong> - A nationally known Ruby 
          advocate from our local Ruby community.
          His early speaker commitment and encouragement in 2008
          really got this conference off
          the ground in a big way.</li>

      <li><strong>Xandy Johnson</strong> - A local Ruby advocate
          and co-founder of both the Northern Virginia Ruby Group (NovaRUG)
          and this conference. Xandy's efforts to start the NovaRUG and run
          it for a number of years helped grow our local Ruby community to
          the point to where the RubyNation conference could be successful.</li>

    </ul>
      
  </div>

</div>
