<div id="content">

  <% @posts.each do |post| %>
    <div class="section">
      <h2><%= post.title %></h2>
	
	  <p><%= post.content %></p>
	
	  <p class="post_date">Posted by <%= post.user_name %>: <%= post.created_at.strftime('%B %d, %Y') %></p>
	</div>
  <% end %>
  
</div>

