<div id="content">

  <iframe id="community" src="http://rubynation-embedded.nowgetsocial.com/"
          name="community"
          frameborder="0"
          scrolling="no">
    Come on in and let&apos;s get social:
    <a href="http://rubynation_embed.nowgetsocial.com">NowGetSocial</a>
  </iframe>

  <script type="text/javascript">
    function setIframeHeight(iframe) {
      try {
        height = iframe.contentWindow.document.body.scrollHeight;
      } catch(err) {
        height = 2000;
      }
      iframe.style.height = height + "px";
    }
  </script>

</div>
