<div id="content">

  <div class="section">
    <h1>About RubyNation</h1>

    <p>
    RubyNation is an annual two-day, dual-track technical conference presented by the
    Washington, DC area Ruby Community.
    The next RubyNation conference will be held <%= conference_date -%>, 
    at the Sheraton Hotel in <%= conference_location -%>.
    </p>

    <p>
    We strive to serve the National Capital Region's Ruby community but in the process
    we produce a premier Ruby and Rails conference, reaching a large audience 
    of engaged and interested Rubyists and influential thought leaders in the Ruby community
    well beyond the DC area.
    </p>
    
    <p>
    The estimated attendance for the conference is 200 people (170 last year). 
    The conference schedule features presentations from well-known professionals 
    in the Ruby and Rails community, including featured speakers Dave Thomas, Jim Weirich, Joe O’Brien and Greg Pollack. 
    In addition, there will be approximately eighteen other 45-minute technical talks and panel discussions.
    </p>

    <p>
    In our third year, the RubyNation Conference will again bring the community’s top 
    speakers and leaders together with motivated and excited attendees for an unforgettable conference experience. 
    At RubyNation, we debate and discuss the latest trends, techniques, and tools in Ruby development, design, deployment, business and marketing. 
    We are not a commercial conference. 
    Staffed by committed volunteers, RubyNation is produced and presented by the 
    National Capital Region’s Ruby and Rails Developers Community, 
    as a non-profit event to promote Ruby, and encourage collaboration across the community.
    </p>

  </div> <!-- section -->

  <div class="section">
    <h2>Why RubyNation?</h2>

    <ul>
      <li>
        Bring Ruby rock stars to Washington.
      </li>
      <li>
        Develop our local talent.
        Want to become a Ruby leader?  Come and share your views.
      </li>
      <li>
        Provide a networking forum.
        Need a Ruby job?  Need some help with a Ruby project?
      </li>
      <li>
        Provide a Ruby business forum.
        Are you hiring?  Have a Ruby product or service to market?
      </li>
      <li>
        Provide a Ruby education forum.
        Want to hear what the Ruby leaders think?  Do you want to learn
        what they know?
      </li>
	  <li>
        Enhance your career propsects.
        It's a tough economy out there. Beef up your skill set and your
		marketability.
      </li>
    </ul>
  </div> <!-- section -->
  
  <div class="section">
    <h2>Still Not Convinced?</h2>
	
	<p>In its first years of existence, RubyNation sold out in record time each! This year, we're holding
	RubyNation in a bigger venue with even more great speakers than last year.</p>
	
	<p>Check out our online <a href="<%= url_for('/archive') %>">Archive</a>
	if you'd like to see what previous conferences looked like. We're sure you'll
	like what you see!</p>
	
  </div> <!-- section -->

</div>
