<div id="content">

  <div class="section">
    <h1>Travel and Venue</h1>

<p>RubyNation 2010 will be held at the 
<%= link_to "Sheraton Reston", "http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=655&language=en_US" %>,
a first class conference center, with great food, and excellent facilities.

    <p>
We have a special rate of $89 per night worked out with the Sheraton.  
So if you do register with them please mention that you are with the RubyNation conference to get it.  
<!--
We have lots of rooms per night blocked off for the conference until XXXXX.
-->
</p>

    <p>
      A map to the Sheraton is available <a href="http://www.starwoodhotels.com/sheraton/property/area/map.html?propertyID=655">here</a>.
</p>
	
<p class="address">
Sheraton Reston
11810 Sunrise Valley Drive
Reston, VA 20191
(703) 620-9000
</p>

<p>The Sheraton is near the Reston Town Center, which is full of cool restaurants, bars, and shops.
RubyNation is also be accessible by public transportation via a direct bus 
link to the West Falls Church metro station to within a few blocks of the hotel. 
</p>

  </div> <!-- section -->
    
  <div class="section">
    <h2>National Cherry Blossom Festival</h2>
    <p>
    RubyNation is being held this year during the time of the 
      <a href="http://www.nationalcherryblossomfestival.org/cms/index.php?id=390">National Cherry Blossom Festival</a>, which takes place between March 27 and April 11.
      This world-famous festival celebrates the 1912 gift of the cherry blossom trees 
      by citizens of Japan to the people of the United States.
      There are lots of events related to the two-week long festival, but the best part is 
      just walking around the tidal basin when the blossoms are in bloom.
      Washington, DC is really beautiful then and worth a visit.
      The festival is planned for the time of year when the blossoms are most likely
      to be in bloom. 
      Check the bloom watch on the festival web site as the time gets closer to get a
      better idea of when the blossoms will be out.
</p>
  </div> <!-- section -->

  <div class="section">
    <h2>What is Nearby? The Reston Town Center!</h2>
    <p>
    The <%= link_to "Reston Town Center", "http://www.restontowncenter.com/index.html" %> 
    combines elements of the ideal downtown: 
    the vitality of an Italian piazza and the diversity of a French boulevard. 
    Easy-to-access stores make shopping a year-round pleasure. 
    You’ll discover famous names and specialty shops lining the brick streets.

    <p>
    This acclaimed outdoor venue offers more than 50 retail shops, 30 restaurants, 
    and a 13-screen Multiplex Cinema. 
    And at the Center’s hub, the Pavilion hosts special events, concerts, 
    festivals throughout the year and ice-skating in winter, making this the 
    focal point of the community and Northern Virginia’s “downtown.”
    </p>

  </div> <!-- section -->

  <div class="section">
    <h2>What Else is Nearby? The Air and Space Museum!</h2>
    <p>
    The <%= link_to "Udvar-Hazy Air and Space Museum", "http://www.nasm.si.edu/UdvarHazy/" %>, 
    is a great place to spend the Sunday after RubyNation.  
    There are lots of wonderful, historical aircraft on display, including
    the Enola Gay B-29 Superfortress, the Space Shuttle Enterprise, 
    the Lockheed SR-71 Blackbird, and a Concorde supersonic airliner.
    </p>

    <p>
    The Museum is just up the road, near Dulles Airport.  
    Well worth a Sunday morning visit after RubyNation.
    </p>

  </div> <!-- section -->

  <div class="section">
    <h2>Fairfax Connector Bus Link</h2>
    <p>
      Bus information leading in and out of the Reston Town Center stop is available <a href="http://www.fairfaxcounty.gov/connector/">here</a>.
      A PDF file of the 505 line, which goes between the West Falls Church Metro station and the Reston Town Center station is linked 
      <a href="http://www.fairfaxcounty.gov/connector/pdf/Rt_505_556web.pdf">here</a>.
<p>
      It takes about 25 minutes to ride from the West Falls Church Metro to the Reston Town Center. The Sheraton is a short 10-minute walk from the Reston Town Center.  Just walk up Bluemont Way to Reston Ave, then turn right and walk over the Toll road. 
The Sheraton is the large building on the left, just over the Toll road.
</p>

    </p>
  </div> <!-- section -->

  <div class="section">
    <h2>Closest Airport</h2>
    <p>
    The closest airport to RubyNation is Washington Dulles International
    Airport (IAD). 
    </p>

<p>
      It takes about 10 minutes to ride from the the airport to the Sheraton.  
      The hotel has a shuttle that can give you a ride.
</p>

  </div> <!-- section -->

</div>

<%= render :partial => 'google_map_javascript' %>
