<div id="content">

  <div class="section">
    <h2>Archive</h2>
	
    <p>RubyNation 2010 is going to be an awesome conference! Just in case
    you're not familiar with what goes on at a top regional conference like
    RubyNation, check out our online archive. All of the content from our
    two previous years, 2008 and 2009, is available below.</p>
	  
    <p>Once you've checked us out, we're sure you'll want to join us for
    RubyNation 2010!</p>
	
  </div>

  <div class="section">
    <h2>RubyNation 2009</h2>
	
	<div class="sponsor-bio">
      <a href="/archive/2009"><img alt="RubyNation 2009" height="120" src="/archive/2009/images/conference/badges/rubynationA.jpg" width="180" border="0"/></a>
	
	  <p><a href="/archive/2009">RubyNation 2009</a> was a fantastic 
	  event! Despite the bad economy, the 
	  conference not only sold out, but also had 30% more attendees than 
	  our inaugural year in 2008. And with the double track for speakers, 
	  there were more great talks than ever before. Add to that the truly
	  awesome food provided by the Hyatt Regency, as well as the Reston Festival 
	  which was going on outside the hotel that same weekend, and the stage was
	  set for an awesome weekend of learning and fun activities.</p>

      </p>
	</div>
	
  </div>

  <div class="section">
    <h2>RubyNation 2008</h2>

    <div class="sponsor-bio">
      <a href="/archive/2008"><img alt="RubyNation 2008" height="145" src="/archive/2008/images/conference/badges/ruby_blank.png" width="180" border="0"/></a>
	
      <p><a href="/archive/2008">RubyNation</a> was incredible! We had over one hundred organizations 
	  represented at RubyNation in 2008. The mix of Ruby perspectives brought 
	  together for a couple of great days was well worth the risk and effort 
	  launching a new regional conference. Thanks again to our wonderful 
	  speakers, our sponsors (buy their products, their services, or go to 
	  work for them, folks!), to the CIT facilities and food staff, to those 
	  who helped us organize the conference, and most of all, thank you to 
	  everyone who attended.</p>

    </div><!-- sponsor-bio -->
  </div><!-- section -->
</div><!-- content -->
