<h2>Registration Now Open</h2>
<%= image_tag "conference/rubicon72.png", :class => "person-pic" %>

<p>Registration for RubyNation 2009 is not yet open.</p>

<p>
  <a href="http://www.regonline.com/RubyNation">Registration</a> is now open
  for RubyNation 2009. Sign up before all the passes are gone! Your nation
  needs you!
</p>

<p>
  RubyNation costs just $175 until July 16th, then $200 thereafter.  
  For this low price, attendees will receive admission for both days, 
  lunches, snacks, drinks and an awesome conference t-shirt.
</p>

<p>
  Attendees will also get a fantastic opportunity to meet and learn from
  some of the nation's smartest Rubyists in a comfortable and intimate
  venue.
</p>

